body {
    background: #333;
    color: #666;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

#cougar {
  background: #82E8FF;
}

#lion {
  background: #999;
}

#tiger {
  background: #FFBD82
}

div {
  float: left;
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
}

section {
  padding-top: 100px;
  padding-bottom: 60px;
  overflow: auto;
  width: 100%;
}

header {
  position:fixed;
  background: #333;
  width: 100%;
  margin-top: 0;
  padding: 10px 40px;
  box-sizing: border-box;
}

h1 {
  float: left;
  margin: 0;
}

h2 {
  margin: 0;
}

h2, section > p{
  text-align: center;
}

img {
  display: block;
  margin: auto;
  padding-top: 15px;
}

article {
  width: 50%;
  margin: auto;
  float: right;
  padding: 0 30px;
  box-sizing: border-box;
}

footer p {
  width: 600px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 0;
  clear: both;
}
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a {
  color: #379CB2;
  text-decoration: none;
  }
a:hover { color: #82E8FF; }


#cougar {
  clear: both;
}

/* nav styles */

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin-top: 0;
}

nav li {
  float:left;
  margin-left: 20px;
  padding-top: 15px;
}
